@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-color: blue;
}

.masthead {
  height: 60vh;
  min-height: 500px;
  background-image: url('https://i.imgur.com/N23YkMX.png');
  // background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  background-color: white;
  
  
}

