@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-color: black;
  font-family: 'Montserrat', sans-serif;
//   font-family: 'Lora', serif;
}

.masthead {
  height: 60vh;
  min-height: 500px;
  background-image: url('https://i.imgur.com/VhmWAai.jpg');
  // background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  background-color: white;
}

HTML CSSResult
EDIT ON
body {
  background-color: #000;
  color: white;
  font-size: 100px;
}

h1 {
  font-size: 30px;
}

.text_1 {
  animation: text1;
}

.text_2 {
  animation: text2;
}

.text_1, .text_2 {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  animation-duration: 20s;
  animation-timing-function: steps(25, end);
  animation-iteration-count: infinite;
}

.text_1::after, .text_2::after {
  content: "|";
  position: absolute;
  right: 0;
  animation: caret infinite;
  animation-duration: 1s;
  animation-timing-function: steps(1, end);
}

@keyframes text2 {
  0%, 50%, 100% {
    width: 0;
  }
  
  60%, 90% {
    width: 14.2em;
  }
}

@keyframes text1 {
  0%, 50%, 100% {
    width: 0;
  }
  10%, 40% {
    width: 6.5em;
  }
}

@keyframes caret {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

#banner-title {
  font-size: 40px;
}

#bio-page {
  margin-top: 50px;
  margin-right: 200px;
  margin-left: 200px;
  font-size: 27px;
  color: white;
}

.cyan {
  color: cyan;
}
.green {
  color: #5dc942;
}
.orange {
  color: orange;
}
.heading-vertical {
  position: absolute;
  left: -100px;
  // top: -40px;
  right: auto;
  bottom: auto;
  display: inline-block;
  margin-top: 215px;
  margin-bottom: 30px;
  transform: rotate(-90deg);
  line-height: 110%;
  font-weight: 400;
  color: #2c2c2e;
  font-size: 50px;
}

#technologies-page {
  background-color: #16181c;
}

.technologies-title {
  color: white;
  padding-top: 40px;
  text-align: center;
  font-size: 40px;
}

.projects-title {
  color: white;
  padding-top: 40px;
  text-align: center;
  font-size: 40px;
}

.footer-title {
  color: white;
  padding-top: 40px;
  text-align: center;
  font-size: 40px;
}

i {
  font-size: 120px;
  // text-align: center;
}

.fa-html5 {
  color: #f06529;
}

.fa-css3-alt {
  color: #264de4;
}

.fa-sass {
  color: #cd6799;
}

.fa-react {
  color: #61dbfb
}

.fa-git {
  color: #f34f29;
}

.fa-github-square {
  color: #F1502F;
}

.fa-js {
  color:  #f0db4f;
}

.technologies-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 40px;
  padding-bottom: 50px; 
  
}

#projects-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 80px;
  margin-right: 80px;
  flex-wrap: wrap;
  margin-top: 40px;
  padding-left: 0px; 
  padding-right: 0px;
  padding-bottom: 25px;
  text-align: center;
}

.card img {
  width: 100%;
  height: 300px;
  margin: 0 auto;
};

.card-title {
  text-align: center;
}

.url-btn {
  text-align: center;
}

.git-url-btn {
  text-align: center;
}

.fa-globe {
  font-size: 30px;
}

.fa-github {
  font-size: 30px;
}

.footer-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.linkedin-footer-btn {
  margin-right: 20px;
  color: #2867B2;
  font-size: 70px;
}

.fa-envelope-square {
  color: #FF00FF;
  margin-right: 50px;
  font-size: 70px;
}

.github-footer-btn {
  font-size: 70px;
  margin-left: 30px;
}

.card:hover .overlay {
  opacity: 1;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 75%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: grey;
  z-index: 2;
}

.description-text {
  padding-top: 100px;
  margin-left: 5px;
  margin-right: 5px;
  color: white;
}

.popover-button {
  background-color: red;
  position: absolute;
  top: 5%;
  left: 40%;
}

#navbarNav {
margin-bottom: 0px !important;
}

.resume-button {
  position: absolute;
  top: 150%;
  left: 15%;
  background-color: navy; 
  color: white;
}